input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 3px 0;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 1.9px 1.9px 10.1px #ffb2df, 0px 0px 1.9px #ffccea;
  background: #ff91d8;
  border-radius: 25px;
  border: 2.3px solid #dbd58f;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 2.2px 2.2px 10.6px #27aaff, 0px 0px 2.2px #41b4ff;
  border: 5px solid #ffcdff;
  height: 22px;
  width: 25px;
  border-radius: 49px;
  background: #ffff7d;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.3px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffbae6;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 1.9px 1.9px 10.1px #ffb2df, 0px 0px 1.9px #ffccea;
  background: #ff91d8;
  border-radius: 25px;
  border: 2.3px solid #dbd58f;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 2.2px 2.2px 10.6px #27aaff, 0px 0px 2.2px #41b4ff;
  border: 5px solid #ffcdff;
  height: 22px;
  width: 25px;
  border-radius: 49px;
  background: #ffff7d;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #ff68ca;
  border: 2.3px solid #dbd58f;
  border-radius: 50px;
  box-shadow: 1.9px 1.9px 10.1px #ffb2df, 0px 0px 1.9px #ffccea;
}

input[type="range"]::-ms-fill-upper {
  background: #ff91d8;
  border: 2.3px solid #dbd58f;
  border-radius: 50px;
  box-shadow: 1.9px 1.9px 10.1px #ffb2df, 0px 0px 1.9px #ffccea;
}

input[type="range"]::-ms-thumb {
  box-shadow: 2.2px 2.2px 10.6px #27aaff, 0px 0px 2.2px #41b4ff;
  border: 5px solid #ffcdff;
  height: 22px;
  width: 25px;
  border-radius: 49px;
  background: #ffff7d;
  cursor: pointer;
  height: 16px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #ff91d8;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #ffbae6;
}
